.header {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px 15px;
  z-index: 3;

  @media (min-width: 1280px) {
    padding: 33px 70px 0;
  }
}

.header__logo {
  width: 88px;
  margin: 0;
  margin-right: 53px;
  font-family: "Actay Wide Bold";
  font-size: 20px;
  line-height: 20px;

  @media (min-width: 1280px) {
    width: 140px;
    font-size: 32px;
    line-height: 30px;
  }
}

.header__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header--closed {
  @media (max-width: calc($desktop-width - 1px)) {
    & .header__wrapper {
      display: none;
    }

    & .header__button {
      background-image: url("../../icons/burger.svg");
    }
  }
}

.header--opened {
  background-color: $white;

  & .header__logo {
    color: #F2F3EF;
  }

  & .header__wrapper {
    display: block;
    text-align: center;
  }

  & .header__nav {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 10;
  }

  & .header__form-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -152px;
    padding: 31px;
    background-color: $white;
    z-index: 10;
  }

  & .header__link {
    color: $black;
  }

  & .header__search-button {
    top: -1px;
    right: 4px;
    width: 16px;
    height: 16px;
    background-image: url("../../icons/search-arrow-black.svg");
    background-size: 16px;
  }

  & .header__text {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: $black;
  }

  & .header__button {
    background-image: url("../../icons/cross.svg");
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1280px) {
    flex-direction: row;
    gap: 40px;
  }
}

.header__link {
  color: $white;
  text-decoration: none;

  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

.header__form-wrapper {
  @media (max-width: calc($desktop-width - 1px)) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 48px;
    right: 71px;
  }
}

.header__form {
  position: relative;
  width: 170px;

  @media (min-width: 1280px) {
    margin-right: 2px;
    margin-bottom: 3px;
  }
}

.header__input {
  width: 162px;
  padding: 0;
  font-family: "Actay Regular";
  font-size: 14px;
  color: $black;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $black;

  @media (min-width: 1280px) {
    width: 173px;
    font-size: 20px;
    color: $white;
    border-bottom: 1px solid $white;
  }
}

.header__search-button {
  position: absolute;
  background-color: transparent;
  border: none;

  @media (min-width: 1280px) {
    top: 4px;
    right: -2px;
    width: 16px;
    height: 16px;
    background-image: url("../../icons/search-arrow-white.svg");
    background-size: 16px;
  }
}

.header__button-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media (min-width: 1280px) {
    display: none;
  }
}

.header__button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  @media (min-width: 1280px) {
    display: none;
  }
}

.header__text {
  display: none;
}
